<%= simple_form_for(resource, 
                    as: resource_name, 
                    url: registration_path(resource_name), 
                    html: { method: :put }, 
                    wrapper: :horizontal_form) do |f| %>

  <%= f.error_notification %>

  <fieldset class="devise-profile">
    <legend><%= I18n.t('user.fieldset.edit_profile') %></legend>
    <%= f.input :first_name, 
                as: :string, 
                hint: I18n.t('activerecord.attributes.user.first_name_devise_hint') %>
    <%= f.input :last_name, as: :string %>
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, 
                required: false,
                autocomplete: 'off', 
                hint: I18n.t('activerecord.attributes.user.password_edit_hint') %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, 
                required: true,
                hint: I18n.t('activerecord.attributes.user.password_current_hint') %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, 'Update', class: 'btn btn-default' %>
  </div>
<% end %>

<div class="simple_form mt-4">
  <fieldset class="devise-profile">
    <legend><%= I18n.t('user.fieldset.cancel_account') %></legend>
    <p><%= raw I18n.t('user.link.cancel_account', link: (link_to "Cancel my account", 
                                                         registration_path(resource_name), 
                                                         data: { confirm: "Are you sure?" }, 
                                                         method: :delete)) %></p>
  </fieldset>
</div>
