<%= simple_form_for(resource, 
                    as: resource_name, 
                    url: registration_path(resource_name), 
                    html: { method: :put }, 
                    wrapper: :horizontal_form) do |f| %>

  <%= f.error_notification %>

  <fieldset class="devise-profile">
    <legend>Update My Profile</legend>
    <%= f.input :first_name, 
                as: :string, 
                hint: I18n.t('activerecord.attributes.user.first_name_devise_hint') %>
    <%= f.input :last_name, as: :string %>
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, 
                required: false,
                autocomplete: 'off', 
                hint: "leave it blank if you don't want to change it" %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, 
                required: true,
                hint: "we need your current password to confirm your changes", required: true %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, 'Update', class: 'btn btn-default' %>
  </div>
<% end %>

<div class="simple_form mt-5">
  <fieldset class="devise-profile">
    <legend>Cancel my account</legend>
    <p>No longer need access? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </fieldset>
</div>

<%= link_to "Back", :back %>
