<%= simple_form_for(resource, 
                    as: resource_name, 
                    url: registration_path(resource_name),
                    wrapper: :horizontal_form) do |f| %>

  <%= f.error_notification %>

  <fieldset class="register">
    <legend><%= I18n.t('user.fieldset.register') %></legend>
    <%= f.input :first_name,
                as: :string,
                hint: I18n.t('activerecord.attributes.user.first_name_devise_hint') %>
    <%= f.input :last_name, as: :string %>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :pronoun_class,
                as: :select,
                collection: User.pronoun_class_collection,
                prompt: I18n.t('activerecord.attributes.user.pronoun_class_prompt'),
                hint: I18n.t('activerecord.attributes.user.pronoun_class_hint') %>
    <%= f.input :password,
                required: true,
                hint: I18n.t('activerecord.attributes.user.password_hint') %>
    <%= f.input :password_confirmation, required: true %>
  </fieldset>

  <%= f.submit I18n.t('button.user.register'), class: 'btn btn-default' %>

  <div class="devise-links">
    <%= raw I18n.t('user.link.registration_login', link: (link_to "Log in", new_session_path(resource_name))) %>
  </div>
<% end %>
