<%= form_tag mobiles_path, method: 'get', class: 'search-form' do %>
  <fieldset>
    <legend>
      <span><%= I18n.t('search.title') %></span>
    </legend>
<% if false %>
    <div class="search-field-top">
      <label><%= I18n.t('search.keywords_contain') %></label>
      <%= text_field_tag :keywords_contain,
                         params['keywords_contain'],
                         class: 'search-text' %>
    </div>

    <div class="search-field">
      <label><%= I18n.t('search.by_mobile_type') %></label>
      <%= select_tag :by_mobile_type,
                     options_for_select(Mobile.mobile_type_collection, params[:by_mobile_type]),
                     prompt: I18n.t('select.mobile_type'),
                     class: 'search-select' %>
    </div>
    <div class="search-field">
      <label><%= I18n.t('search.by_zone') %></label>
      <%= select_tag :by_zone_id,
                     options_for_select(Zone.zone_collection, params[:by_zone_id]),
                     prompt: I18n.t('select.zone'),
                     class: 'search-select' %>
    </div>
<% end %>
    <div class="search-buttons">
      <%= submit_tag I18n.t('button.search.submit'), name: nil, class: 'btn btn-default' %>
      <%= link_to I18n.t('button.search.clear'), mobiles_path, class: 'btn btn-clear' %>
    </div>
  </fieldset>
<% end %>
