<div id="index-table">
  <div class="pagination-info">
    <%= pagination_info(page: params[:page], page_count: @users.count, full_count: @full_count) %>
  </div>

  <table class=" table table-striped">
    <tr>
      <th class="model-id">ID</th>
        <%= sortable 'first_name' %>
        <% if can?(:email, User) %>
          <%= sortable 'email' %>
        <% end %>
        <%= sortable 'role_id' %>
        <%= sortable 'updated_at' %>
      <th class="action"></th>
      <%= tag.th class: 'action' if can? :update, User %>
      <%= tag.th class: 'action' if can? :destroy, User %>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <% if can?(:email, User) %>
          <td><%= user.email %></td>
        <% end %>
        <td><%= user.role.to_s %></td>
        <td><%= user.updated_at %></td>
        <td class="action">
          <%= link_to svg('view'),
                      user_path(user),
                      title: I18n.t('index_table.view') %>
        </td>
        <% if can? :update, User %>
          <%= tag.td class: 'action' do %>
            <%= link_to svg('edit'),
                        edit_user_path(user),
                        title: I18n.t('index_table.edit') %>
          <% end %>
        <% end %>
        <% if can? :destroy, User %>
          <%= tag.td class: 'action' do %>
            <%= link_to svg('delete'),
                        user_path(user),
                        title: I18n.t('index_table.delete'),
                        method: :delete,
                        data: { confirm: I18n.t('index_table.confirm') } %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>

  <%= paginate @users, theme: 'twitter-bootstrap-4',
                         pagination_class: 'pagination-md',
                         nav_class: 'd-inline-b' %>
</div>
