<%= simple_form_for(resource,
                    as: resource_name,
                    url: password_path(resource_name),
                    html: { method: :post },
                    wrapper: :horizontal_form) do |f| %>

  <%= f.error_notification %>

  <fieldset class="forgot-password">
    <legend><%= I18n.t('user.fieldset.forgot_password') %></legend>
    <%= f.input :email, 
                required: true,
                label: I18n.t('activerecord.attributes.user.email'),
                hint: I18n.t('activerecord.attributes.user.password_forgot_hint'),
                autofocus: true %>
  </fieldset>

  <div class="form-actions">
    <%= f.submit I18n.t('button.user.password_reset'), class: 'btn btn-default' %>
  </div>
<% end %>

<div class="devise-links">
  <%= render "devise/shared/links" %>
</div>
