<div class="row">
  <div id="login-form" class="col-md-6 offset-md-3">
    <p><%= I18n.t('user.instructions.sign_in') %></p>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <fieldset class="login">
        <legend><%= I18n.t('user.fieldset.log_in') %></legend>
        <%= f.input :email, label: t('models.user.headings.email'), autofocus: true %>
        <%= f.input :password , label: t('models.user.headings.password'), input_html: { autocomplete: "off" } %>
        <%= f.input :remember_me, label: t('models.user.headings.remember_me'), as: :boolean if devise_mapping.rememberable? %>

        <%= f.submit I18n.t('button.user.sign_in'), class: 'btn login-button' %>

        <div class="devise-links">
          <%= render "devise/shared/links" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
