<div id="index-table">
  <div class="pagination-info">
    <%= pagination_info(page: params[:page], page_count: @items.count, full_count: @full_count) %>
  </div>

  <table class="table table-sm table-striped">
    <tr class="index-header">
      <%= sortable 'vnum' %>
      <th><%= I18n.t('activerecord.attributes.item.keywords') %></th>
      <th><%= I18n.t('activerecord.attributes.item.short_desc') %></th>
      <%= sortable 'item_type' %>
      <th class="action"></th>
      <%= tag.th class: 'action' if can? :update, Item %>
      <%= tag.th class: 'action' if can? :destroy, Item %>
    </tr>

    <% @items.each do |item| %>
      <tr>
        <td><%= item.vnum %></td>
        <td><%= item.keywords %></td>
        <td><%= item.short_desc %></td>
        <td><%= item.item_type %></td>
        <td class="action">
          <%= link_to svg('view'),
                      item_path(item),
                      title: I18n.t('index_table.view') %>
        </td>
        <% if can? :update, Item %>
          <%= tag.td class: 'action' do %>
            <%= link_to svg('edit'),
                        edit_item_path(item),
                        title: I18n.t('index_table.edit') %>
          <% end %>
        <% end %>
        <% if can? :destroy, Item %>
          <%= tag.td class: 'action' do %>
            <%= link_to svg('delete'),
                        item_path(item),
                        title: I18n.t('index_table.delete'),
                        method: :delete,
                        data: { confirm: I18n.t('index_table.confirm') } %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>

  <%= paginate @items, theme: 'twitter-bootstrap-4',
                       pagination_class: 'pagination-md',
                       nav_class: 'd-inline-b' %>
</div>
