<div id="index-table">
  <div class="pagination-info">
    <%= pagination_info(page: params[:page], page_count: @socials.count, full_count: @full_count) %>
  </div>

  <table class="table table-sm table-striped">
    <tr class="index-header">
      <th class="model-id">ID</th>
      <%= sortable 'name' %>
      <%= sortable 'char_no_arg' %>
      <th class="action"></th>
      <%= tag.th class: 'action' if can? :update, Social %>
      <%= tag.th class: 'action' if can? :destroy, Social %>
    </tr>

    <% @socials.each do |social| %>
      <tr>
        <td><%= social.id %></td>
        <td><%= social.name %></td>
        <td><%= social.char_no_arg %></td>
        <td class="action">
          <%= link_to svg('view'),
                      social_path(social),
                      title: I18n.t('index_table.view') %>
        </td>
        <% if can? :update, Social %>
          <%= tag.td class: 'action' do %>
            <%= link_to svg('edit'),
                        edit_social_path(social),
                        title: I18n.t('index_table.edit') %>
          <% end %>
        <% end %>
        <% if can? :destroy, Social %>
          <%= tag.td class: 'action' do %>
            <%= link_to svg('delete'),
                        social_path(social),
                        title: I18n.t('index_table.delete'),
                        method: :delete,
                        data: { confirm: I18n.t('index_table.confirm') } %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>

  <%= paginate @socials, theme: 'twitter-bootstrap-4',
                         pagination_class: 'pagination-md',
                         nav_class: 'd-inline-b' %>
</div>
