<% content_for :title, I18n.t('page.action_title.index', model: 'Socials') %>

<div class="row">
  <div class="col-lg-9">
    <%= render 'index_table' %>
  </div>

  <div class="col-lg-3">
    <%= render 'search' %>
    <% if can? :export, Social %>
      <%= tag.div class: 'social-export-link' do %>
        <%= link_to I18n.t('services.social.export'), socials_path(format: :smaug) %>
      <% end %>
    <% end %>
    <% if can? :import, Social %>
      <%= render 'import' %>
    <% end %>
  </div>
</div>
