<!DOCTYPE html>
<html>
  <head>
    <title>Tierceron Construction Set</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="row">
        <div id="mudlogo" class="col-md-8">
          <%= link_to (user_signed_in? ? welcome_index_path : root_path) do %>
            <%= image_tag('mudlogo.png', class: 'img-fluid', alt: 'Covenant MUD') %>
          <% end %>
        </div>
        <div id="welcome" class="col-md-4">
          <% if user_signed_in? %>
            Welcome, <b><%= current_user.name_display %> (<%= current_user.email %>)</b>!<br>
            <%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link' %>
          <% end %>
        </div>
      </header>

      <% if user_signed_in? %>
        <nav id="top-nav" class="row">
          <%= link_to 'Objects', items_path, class: 'navbar-link pr-1' %>|
          <%= link_to 'Socials', socials_path, class: 'navbar-link px-1' %>|
          <% if can? :read, User %>
            <%= link_to 'Users', users_path, class: 'navbar-link px-1' if can? :read, User %>|
          <% end %>
          <%= link_to 'Zones', zones_path, class: 'navbar-link pl-1' if can? :read, Zone %>
        </nav>
      <% end %>

      <section id="title-bar" class="row">
        <div id="title-content" class="col-sm-9 col-xs-8">
          <div class="breadcrumbs"><%= raw build_breadcrumbs.join(' &gt; ') %></div>
          <h2 id="page_title"><%= yield(:title).present? ? yield(:title) : 'Tierceron Construction Set' %></h2>
          <% if content_for?(:subtitle) %>
            <h3 id="page_subtitle"><%= yield(:subtitle) %></h3>
          <% end %>
        </div>
        <div id="actions" class="col-sm-3 col-xs-4">
          <% if (action = build_action) %>
            <%= link_to(action[:label], action[:url], class: "btn btn-lg") %>
          <% end %>
        </div>
      </section>

      <section id="main-content" class="row">
        <div class="col-md-12">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %> w-100"><%= value %></div>
          <% end %>
          <%= yield %>
        </div>
      </section>

      <footer class="row">
        <span>Covenant MUD Building Tools Copyright &copy; <%= Time.now.year %> Myles L. Skinner&mdash;All Rights Reserved.</span>
      </footer>
    </div>

    <%# if %w[new create edit update].include?(action_name) %>
<% if false %>
      <script>
        $(document).ready(function() {
          $('select.select2').select2();
        });
      </script>
    <% end %>
  </body>

  <%= yield(:extra_js) %>
</html>
